html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

ul {
    margin: 0;
    padding: 0;
    
}

button {
    background-color: #fafefb;
    border: 2px solid #179c52;
    border-radius: 0.25em;
    font-size: 1em;
    padding: 0.5em;
    margin: 0 0.5em 0 0.5em;
}

button:hover {
    background-color: #179c52;
    color: #fafefb;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 355px;
    margin: 0;
}

.score-panel .stars {
    padding: 0.75em;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-pannel .timer-control {
    float: right;
    cursor: pointer;
}
.score-panel .restart {
    float: right;
    cursor: pointer;
    padding: 0.75em;
}

/* Modal to display the Winner message */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}

.modal-content {
    background-color: #fafefb;
    background-color: rgba(250,254,251,0.85);
    margin: 14% auto;
    padding: 1.5em;
    border: 2px solid #888;
    border-radius: 0.5em;
    width: 50%;
    font-size: 1.5em;
    text-shadow: 2px 2px 3px #aaa;
}

.modal-content .stars {
    margin: 0.25em 0 0 0;
}

.modal-content .stars li {
    list-style: none;
    display: inline-block;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 2em;
    font-weight: bold;
    margin: -0.85em -0.45em 0 0;
}

.modal-close:hover,
.modal-close:focus {
    color:black;
    text-decoration: none;
    cursor: pointer;
}