html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #1a1a1a;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px 4px #ccc;
    font-size: 2.5em;
}

/* Google colors */
h1 span:first-child {
    color: #db4437;
}

h1 span:nth-child(2) {
    color: #f4b400;
}

h1 span:nth-child(3) {
    color: #0f9d58;
}

h1 span:last-child {
    color: #4285f4;
}

ul {
    margin: 0;
    padding: 0;
    
}

button {
    background-color: #fafefb;
    border: 2px solid #0f9d58;
    border-radius: 0.25em;
    font-size: 1em;
    padding: 0.5em;
    margin: 0 0.5em 0 0.5em;
}

button:hover {
    background-color: #0f9d58;
    color: #fafefb;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(145deg, #ea4335 20%, #f8bc05 45%, #34a853 65%, #4285f4 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #fafefb;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #db4437;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #4285f4;
    font-size: 33px;
    /* Start a shake animation and make the animation last for 0.5 seconds
       Thank you css tips and tricks */
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-evenly;
    width: 410px;
    font-size: 1.25em;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    color: #f4b400;
    font-weight: 900;
}

.score-panel .restart {
    cursor: pointer;
}

.score-panel .restart:hover {
    color: #0f9d58;
    font-weight: 900;
}

/* Modal to display the Winner message 
   Thank you www.w3schools.com for modal
   help */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(26,26,26);
    background-color: rgba(26,26,26,0.4);
    text-align: center;
}

.modal-content {
    background-color: #fafefb;
    background-color: rgba(250,254,251,0.85);
    margin: 14% auto;
    padding: 1.5em;
    border: 3px solid #0f9d58;
    border-radius: 0.5em;
    width: 50%;
    font-size: 1.5em;
    text-shadow: 2px 2px 3px #ccc;
}

.modal-content .stars {
    margin: 0.25em 0 0 0;
}

.modal-content .stars li {
    list-style: none;
    display: inline-block;
    color: #f4b400;
    font-weight: 900;

}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 2em;
    font-weight: bold;
    margin: -0.85em -0.45em 0 0;
}

.modal-close:hover,
.modal-close:focus {
    color:#4285f4;
    text-decoration: none;
    cursor: pointer;
}

.modal-display {
    display: block;
}


/* Thank you css tips and tricks! */

.fly-in {
    animation: flyin 1.2s ease forwards;
    opacity: 0;
    transform: scale(2);
    filter: blur(4px);
}

@keyframes flyin {
    to {
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
    }
}